{%extends 'base.html'%}

{%block title%}
Sign in
{%endblock%}

{%block content%}

<div class="grid place-items-center m-4 min-h-[75vh]">
    <div class="">
        <h2 class="text-5xl font-bold m-4 text-center">Sign in</h2>

        <form action="" class="form-control" method="post">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != "hidden" %}
            <div class="label">
                <span class="label-text text-3xl">{{field.label}}</span>
            </div>
            {{field(class_="input input-bordererd min-w-full input-secondary")}}
            {%endfor%}
            <div class="m-2"></div>
            <button class="btn btn-primary max-w-sm">Sign in</button>
        </form>
    </div>
</div>
{%endblock%}