{%extends 'base.html'%}
{%block title%}Editing {{user.username}}{%endblock%}

{%block content%}
<div class="grid place-items-center m-4">
    <form action="" class="form-control w-full max-w-s" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != "hidden" %}
        <div class="label">
            <span class="label-text text-3xl" name="image">{{field.label}}</span>
        </div>
        {{field(class_="input input-bordererd w-full max-w-xs input-secondary")}}
        {%endfor%}
        <button class="btn btn-primary max-w-sm">Sign in</button>
    </form>
</div>
{%endblock%}