{%extends 'base.html'%}
{%block title%}Editing {{user.username}}{%endblock%}

{%block content%}
<h1 class="text-5xl m-4">Edit banner images</h1>
<div class="carousel carousel-center m-4 space-x-4 rounded-box" id="carousel">
    {%for image in user.images%}
    <div class="carousel-item max-w-lg">
        <img src="{{image.image_url}}">
    </div>
    {%endfor%}
</div>
<form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>

<div class="grid place-items-center m-4 w-full">
    <form action="" class="dropzone w-1/2" method="post" id="img-upload">
        {{ image_form.hidden_tag() }}
            {% for field in image_form if field.widget.input_type != "hidden" %}
            <!-- {{field.label(class_="text-5xl my-2")}} -->
            {{field( id="upload-btn")}}
        {%endfor%}
    </form>

    <div class="avatar ring ring-primary rounded-full m-2">
        <div class="w-32 rounded-full">
            <img id="profile_image_preview" src="{{user.profile_image}}" alt="{{user.username}}" >
        </div>
    </div>

    <form action="/u/{{user.username}}/edit" method="post" class="form-control w-full items-center" id="user-info">
        {{ user_profile_form.hidden_tag() }}
        {% for field in user_profile_form if field.widget.input_type != "hidden" %}
        <div class="label">
            <span class="label-text text-3xl">{{field.label}}</span>
        </div>
        {{field(class_="input input-bordererd w-1/3 min-w-fit input-secondary")}}
        {%endfor%}
    </form>
</div>
<div class="grid place-items-center m-4 w-full">
    <h1 class="text-3xl">Pick up to 10 villagers</h1>
    <form action="" method="post" class="form-control w-full items-center" id="villager-select">
        {{ villager_form.hidden_tag() }}
        {% for field in villager_form if field.widget.input_type != "hidden" %}
        <div class="label">
            <span class="label-text text-3xl">{{field.label}}</span>
        </div>
        {{field()}}
        {%endfor%}        
        <div class="overflow-x-auto m-4 w-1/2" style="height:60rem;overflow:auto;">
            <table class="table w-full" id="villager-table">
                <thead>
                        <th>
                            <input type="checkbox" class="checkbox" disabled></label>
                        </th>
                    <th>Name</th>
                    <th>Image</th>
                    <th class="place-items-center"><input type="text" class="input input-bordered input-secondary" id="villager-filter"></th>
                </thead>
                <tbody>
                    {% for villager in villager_list %}
                    <tr>
                        <th>
                        <label>
                            <input type="checkbox" class="checkbox bg-primary-content" value="{{villager.id}}"/>
                        </label>
                        </th>
                        <td>
                        <div class="flex items-center space-x-3">
                            <div>
                            <div class="font-bold text-1xl">{{villager.name}}</div>
                            </div>
                        </div>
                        </td>
                        <td>
                            <div class="avatar">
                                <div class="mask mask-circle w-24">
                                <img src="{{villager.image_url}}" alt="{{villager.name}} Icon" />
                                </div>
                            </div>
                        </td>
                        <th>
                        <a class="btn btn-ghost btn-xs" href="/v/{{villager.name}}">details</a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <button class="btn btn-primary w-1/3 min-w-fit my-4" id="submit">Update</button>
</div>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
  type="text/css"
/>

<div class="my-dropzone"></div>

<script>
  // Dropzone has been added as a global variable.
  const dropzone = new Dropzone("div.dropzone", { url: "/u/{{user.username}}/edit" });
</script>
<script src="/static/carousel_preview.js"></script>
<script src="/static/profile_preview.js"></script>
<script src="/static/villager_table.js"></script>
<script src="/static/btns.js"></script>
{%endblock%}