{%extends 'base.html'%}
{%block title%}{{user.username}}{%endblock%}

{%block content%}
<div class="carousel place-items-center carousel-center m-4 space-x-4 rounded-box">
    {%for image in user.images%}
    <div class="carousel-item max-w-lg">
        <img src="{{image.image_url}}">
    </div>
    {%endfor%}
</div>
<div class="m-4 grid place-items-center">
    <div class="avatar ring ring-primary rounded-full">
        <div class="w-32 rounded-full">
            <img src="{{user.profile_image}}" alt="{{user.username}}" >
        </div>
    </div>
    <h1 class="text-7xl my-2">{{user.username}}</h1>
    <p class="max-w-lg text-center">{% if user.bio != None%} {{user.bio}} {%endif%}</p>

    <div class="stats lg:stats-vertical shadow m-2 bg-primary text-primary-content">
        <div class="stat">
            <div class="stat-title">Friend Code</div>
            <div class="stat-value">FC-{{user.friend_code}}</div>
        </div>
        <div class="stat">
            <div class="stat-title">Dream Code</div>
            <div class="stat-value">DA-{{user.dream_code}}</div>
        </div>
    </div>
</div>
{% if user.user_villagers.first() != None %}
<h1 class="justify-start text-4xl m-4">Check out {{user.username}}'s villagers!</h1>
<div class="flex flex-wrap justify-center">
    {% for user_villager in user.user_villagers %}
    {% set villager = user_villager.villagers %}
    <a href="/v/{{villager.name}}/">
        <span class="card bg-base-200 m-2">
            <figure><img src="{{villager.image_url}}" alt=""></figure>
            <span class="card-body">
                <div class="card-title">{{villager.name}}</div>
            </span>
        </span>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="min-h-[10vh]"></div>
{% endif %}

{% if session['user_id'] == user.username %}
<div class="card-actions justify-end m-4">
    <a href="{{url_for('edit_user_profile', username = user.username)}}"><button class="btn btn-primary">Edit</button></a>
{%endif%}
</div>

{%endblock%}
